body
{
    text-align: center;
    color: white;
    background-color: black;
}

main
{
    font-size: 20px;
}

a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    color: white;
    text-decoration: underline;
}

.wait
{
    cursor: wait;
}