{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    {% if nonexistant %}
        <div>
            Stock symbol you asked for does not exist, try again!
            <br>
            <br>
        </div>
    {% endif %}


    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-select" autocomplete="off" autofocus name="symbol">
                <option value="">--Please choose an option--</option>
                {% for stock in stocks %}
                    <option value={{ stock }}>{{ stock }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" min="1" name="shares" placeholder="Amount" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}
